<div 
  [class]="'card' + (elevated() ? ' card-elevated' : '') + (hoverable() ? ' card-hoverable' : '') + (padding() ? ' card-padded' : '')"
>
  @if (title() || subtitle()) {
    <div class="card-header">
      @if (title()) {
        <h3 class="card-title">{{ title() }}</h3>
      }
      @if (subtitle()) {
        <p class="card-subtitle">{{ subtitle() }}</p>
      }
    </div>
  }
  
  <div class="card-body">
    <ng-content></ng-content>
  </div>
  
  <ng-content select="[card-footer]"></ng-content>
</div>
