<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-start">
      @if (showMenuToggle()) {
        <button class="navbar-toggle" (click)="onMenuToggle()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </button>
      }
      
      <div class="navbar-brand">
        @if (logo()) {
          <img [src]="logo()" [alt]="title()" class="navbar-logo" />
        }
        @if (title()) {
          <span class="navbar-title">{{ title() }}</span>
        }
      </div>
    </div>

    <div class="navbar-center">
      <ul class="navbar-menu">
        @for (item of items(); track item.label) {
          <li class="navbar-item">
            @if (item.route) {
              <a [routerLink]="item.route" routerLinkActive="active" class="navbar-link">
                {{ item.label }}
              </a>
            } @else {
              <span class="navbar-link">{{ item.label }}</span>
            }
          </li>
        }
      </ul>
    </div>

    <div class="navbar-end">
      <ng-content></ng-content>
    </div>
  </div>
</nav>
